body {
    background-image:linear-gradient(to right , rgb(217, 158, 158),rgb(62, 62, 180));
  }
a{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    color: rgb(19, 3, 34);
    text-shadow: 3px 3px 3px rgb(0, 184, 120);
}

#third{
    color: rgb(19, 26, 24);
    text-shadow: 3px 3px 3px rgb(0, 184, 120);
    
}